<div id="content" class="col-lg-10 col-lg-offset-1">
    <header id="encabezado" class="col-lg-12">
        <h1>
            {{title}}
        </h1>
    </header>
    <div class="d-flex flex-column">
    <nav id="navbar" class="navbar bg-red">
        <ul class="ul-nav">
            <li><a routerLink="/home" class="nav-link" routerLinkActive='activado'>Inicio</a></li>
            <li><a routerLink="/usuarios" class="nav-link" routerLinkActive='activado'>Usuarios</a></li>
            <li><a routerLink="/login" class="nav-link" routerLinkActive='activado'>Login</a></li>
        </ul>
    </nav>
    <br>

    <div class="container w-100">
        <ng-content></ng-content>
    </div>
    </div>

    <footer id="pie" class="col-lg-12">
        <p>Curso de Angular - por Emmanuel Jimenez</p>
    </footer>
</div>