<div class="wrapper">
    <header id="encabezado" class="col-lg-12">
        <h1>
            {{title}}
        </h1>
    </header>
    <div class="d-flex flex-column">
    <nav id="navbar">
        <ul class="ul-nav navLayout">
            <li><a routerLink="/home" class="nav-link" routerLinkActive='activado'>Inicio</a></li>
            <li><a routerLink="/usuarios" class="nav-link" routerLinkActive='activado'>Usuarios</a></li>
            <li><a routerLink="/login" class="nav-link" routerLinkActive='activado'>Login</a></li>
            <a routerLink="/home"><img style="max-width: 5rem;" src="https://pbs.twimg.com/profile_images/1351961170/a_logo_400x400.JPG"></a>
        </ul>
    </nav>
    <br>

    <div class="container w-100">
        <ng-content></ng-content>
    </div>
    </div>

    <footer id="pie" class="col-lg-12">
        <p>Curso de Angular - por Emmanuel Jimenez</p>
    </footer>
</div>